@font-face {
	font-family: 'moo-mp';
	src: url('../../css/font/mutualofomaha/moo-mp.woff2') format('woff2'),
		url('../../css/font/mutualofomaha/moo-mp.ttf') format('truetype'),
		url('../../css/font/mutualofomaha/moo-mp.woff') format('woff'),
		url('../../css/font/mutualofomaha/moo-mp.svg') format('svg');
	font-weight: normal;
	font-style: normal
}

.font-moomp {
	font-family: 'moo-mp' !important
}

.font-sanserif {
	font-family: 'ff-meta-web-pro', Arial, sans-serif
}

.font-serif {
	font-family: 'minion-pro', Georgia, serif
}

html {
	box-sizing: border-box
}

*, *:before, *:after {
	box-sizing: inherit
}

body {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

strong, b {
	font-weight: bold
}

blockquote:after, blockquote:before, q:after, q:before {
	content: '';
	content: none
}

button {
	cursor: pointer;
	font-family: inherit
}

.clearfix:before, .clearfix:after, .row:before, .row:after, .gridrow:before,
	.gridrow:after {
	content: " ";
	display: table
}

.clearfix:after, .row:after, .gridrow:after {
	clear: both
}

[class*=col-] {
	float: left;
	padding: 0 15px;
	min-height: 1px;
	width: 100%
}

.show-sm, .show-md, .show-lg {
	display: none
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left;
	padding: 0 15px;
	min-height: 1px;
	width: 100%
}

.col-sm-1 {
	width: 8.33333333%
}

.col-sm-2 {
	width: 16.66666667%
}

.col-sm-3 {
	width: 25%
}

.col-sm-4 {
	width: 33.33333333%
}

.col-sm-5 {
	width: 41.66666667%
}

.col-sm-6 {
	width: 50%
}

.col-sm-7 {
	width: 58.33333333%
}

.col-sm-8 {
	width: 66.66666667%
}

.col-sm-9 {
	width: 75%
}

.col-sm-10 {
	width: 83.33333333%
}

.col-sm-11 {
	width: 91.66666667%
}

.col-sm-12 {
	width: 100%
}

.col-sm-offset-1 {
	margin-left: 8.33333333%
}

.col-sm-push-1 {
	left: 8.33333333%
}

.col-sm-pull-1 {
	right: 8.33333333%
}

.col-sm-offset-2 {
	margin-left: 16.66666667%
}

.col-sm-push-2 {
	left: 16.66666667%
}

.col-sm-pull-2 {
	right: 16.66666667%
}

.col-sm-offset-3 {
	margin-left: 25%
}

.col-sm-push-3 {
	left: 25%
}

.col-sm-pull-3 {
	right: 25%
}

.col-sm-offset-4 {
	margin-left: 33.33333333%
}

.col-sm-push-4 {
	left: 33.33333333%
}

.col-sm-pull-4 {
	right: 33.33333333%
}

.col-sm-offset-5 {
	margin-left: 41.66666667%
}

.col-sm-push-5 {
	left: 41.66666667%
}

.col-sm-pull-5 {
	right: 41.66666667%
}

.col-sm-offset-6 {
	margin-left: 50%
}

.col-sm-push-6 {
	left: 50%
}

.col-sm-pull-6 {
	right: 50%
}

.col-sm-offset-7 {
	margin-left: 58.33333333%
}

.col-sm-push-7 {
	left: 58.33333333%
}

.col-sm-pull-7 {
	right: 58.33333333%
}

.col-sm-offset-8 {
	margin-left: 66.66666667%
}

.col-sm-push-8 {
	left: 66.66666667%
}

.col-sm-pull-8 {
	right: 66.66666667%
}

.col-sm-offset-9 {
	margin-left: 75%
}

.col-sm-push-9 {
	left: 75%
}

.col-sm-pull-9 {
	right: 75%
}

.col-sm-offset-10 {
	margin-left: 83.33333333%
}

.col-sm-push-10 {
	left: 83.33333333%
}

.col-sm-pull-10 {
	right: 83.33333333%
}

.col-sm-offset-11 {
	margin-left: 91.66666667%
}

.col-sm-push-11 {
	left: 91.66666667%
}

.col-sm-pull-11 {
	right: 91.66666667%
}

.col-sm-offset-12 {
	margin-left: 100%
}

.col-sm-push-12 {
	left: 100%
}

.col-sm-pull-12 {
	right: 100%
}

.col-sm-noPad {
	padding: 0
}

.col-sm-noPadLeft {
	padding-left: 0
}

.col-sm-noPadRight {
	padding-right: 0
}

.col-sm-pad2x {
	padding-left: 30px;
	padding-right: 30px
}

.col-sm-pad2xLeft {
	padding-left: 30px
}

.col-sm-pad2xRight {
	padding-right: 30px
}

.show-sm {
	display: block
}

.hide-sm {
	display: none
}

@media only screen and (min-width:551px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
		.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
		padding: 0 15px;
		min-height: 1px;
		width: 100%
	}
	.col-md-1 {
		width: 8.33333333%
	}
	.col-md-2 {
		width: 16.66666667%
	}
	.col-md-3 {
		width: 25%
	}
	.col-md-4 {
		width: 33.33333333%
	}
	.col-md-5 {
		width: 41.66666667%
	}
	.col-md-6 {
		width: 50%
	}
	.col-md-7 {
		width: 58.33333333%
	}
	.col-md-8 {
		width: 66.66666667%
	}
	.col-md-9 {
		width: 75%
	}
	.col-md-10 {
		width: 83.33333333%
	}
	.col-md-11 {
		width: 91.66666667%
	}
	.col-md-12 {
		width: 100%
	}
	.col-md-offset-1 {
		margin-left: 8.33333333%
	}
	.col-md-push-1 {
		left: 8.33333333%
	}
	.col-md-pull-1 {
		right: 8.33333333%
	}
	.col-md-offset-2 {
		margin-left: 16.66666667%
	}
	.col-md-push-2 {
		left: 16.66666667%
	}
	.col-md-pull-2 {
		right: 16.66666667%
	}
	.col-md-offset-3 {
		margin-left: 25%
	}
	.col-md-push-3 {
		left: 25%
	}
	.col-md-pull-3 {
		right: 25%
	}
	.col-md-offset-4 {
		margin-left: 33.33333333%
	}
	.col-md-push-4 {
		left: 33.33333333%
	}
	.col-md-pull-4 {
		right: 33.33333333%
	}
	.col-md-offset-5 {
		margin-left: 41.66666667%
	}
	.col-md-push-5 {
		left: 41.66666667%
	}
	.col-md-pull-5 {
		right: 41.66666667%
	}
	.col-md-offset-6 {
		margin-left: 50%
	}
	.col-md-push-6 {
		left: 50%
	}
	.col-md-pull-6 {
		right: 50%
	}
	.col-md-offset-7 {
		margin-left: 58.33333333%
	}
	.col-md-push-7 {
		left: 58.33333333%
	}
	.col-md-pull-7 {
		right: 58.33333333%
	}
	.col-md-offset-8 {
		margin-left: 66.66666667%
	}
	.col-md-push-8 {
		left: 66.66666667%
	}
	.col-md-pull-8 {
		right: 66.66666667%
	}
	.col-md-offset-9 {
		margin-left: 75%
	}
	.col-md-push-9 {
		left: 75%
	}
	.col-md-pull-9 {
		right: 75%
	}
	.col-md-offset-10 {
		margin-left: 83.33333333%
	}
	.col-md-push-10 {
		left: 83.33333333%
	}
	.col-md-pull-10 {
		right: 83.33333333%
	}
	.col-md-offset-11 {
		margin-left: 91.66666667%
	}
	.col-md-push-11 {
		left: 91.66666667%
	}
	.col-md-pull-11 {
		right: 91.66666667%
	}
	.col-md-offset-12 {
		margin-left: 100%
	}
	.col-md-push-12 {
		left: 100%
	}
	.col-md-pull-12 {
		right: 100%
	}
	.col-md-noPad {
		padding: 0
	}
	.col-md-noPadLeft {
		padding-left: 0
	}
	.col-md-noPadRight {
		padding-right: 0
	}
	.col-md-pad2x {
		padding-left: 30px;
		padding-right: 30px
	}
	.col-md-pad2xLeft {
		padding-left: 30px
	}
	.col-md-pad2xRight {
		padding-right: 30px
	}
	.show-md {
		display: block
	}
	.hide-md {
		display: none
	}
}

@media only screen and (min-width:769px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
		.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
		padding: 0 15px;
		min-height: 1px;
		width: 100%
	}
	.col-lg-1 {
		width: 8.33333333%
	}
	.col-lg-2 {
		width: 16.66666667%
	}
	.col-lg-3 {
		width: 25%
	}
	.col-lg-4 {
		width: 33.33333333%
	}
	.col-lg-5 {
		width: 41.66666667%
	}
	.col-lg-6 {
		width: 50%
	}
	.col-lg-7 {
		width: 58.33333333%
	}
	.col-lg-8 {
		width: 66.66666667%
	}
	.col-lg-9 {
		width: 75%
	}
	.col-lg-10 {
		width: 83.33333333%
	}
	.col-lg-11 {
		width: 91.66666667%
	}
	.col-lg-12 {
		width: 100%
	}
	.col-lg-offset-1 {
		margin-left: 8.33333333%
	}
	.col-lg-push-1 {
		left: 8.33333333%
	}
	.col-lg-pull-1 {
		right: 8.33333333%
	}
	.col-lg-offset-2 {
		margin-left: 16.66666667%
	}
	.col-lg-push-2 {
		left: 16.66666667%
	}
	.col-lg-pull-2 {
		right: 16.66666667%
	}
	.col-lg-offset-3 {
		margin-left: 25%
	}
	.col-lg-push-3 {
		left: 25%
	}
	.col-lg-pull-3 {
		right: 25%
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333%
	}
	.col-lg-push-4 {
		left: 33.33333333%
	}
	.col-lg-pull-4 {
		right: 33.33333333%
	}
	.col-lg-offset-5 {
		margin-left: 41.66666667%
	}
	.col-lg-push-5 {
		left: 41.66666667%
	}
	.col-lg-pull-5 {
		right: 41.66666667%
	}
	.col-lg-offset-6 {
		margin-left: 50%
	}
	.col-lg-push-6 {
		left: 50%
	}
	.col-lg-pull-6 {
		right: 50%
	}
	.col-lg-offset-7 {
		margin-left: 58.33333333%
	}
	.col-lg-push-7 {
		left: 58.33333333%
	}
	.col-lg-pull-7 {
		right: 58.33333333%
	}
	.col-lg-offset-8 {
		margin-left: 66.66666667%
	}
	.col-lg-push-8 {
		left: 66.66666667%
	}
	.col-lg-pull-8 {
		right: 66.66666667%
	}
	.col-lg-offset-9 {
		margin-left: 75%
	}
	.col-lg-push-9 {
		left: 75%
	}
	.col-lg-pull-9 {
		right: 75%
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333%
	}
	.col-lg-push-10 {
		left: 83.33333333%
	}
	.col-lg-pull-10 {
		right: 83.33333333%
	}
	.col-lg-offset-11 {
		margin-left: 91.66666667%
	}
	.col-lg-push-11 {
		left: 91.66666667%
	}
	.col-lg-pull-11 {
		right: 91.66666667%
	}
	.col-lg-offset-12 {
		margin-left: 100%
	}
	.col-lg-push-12 {
		left: 100%
	}
	.col-lg-pull-12 {
		right: 100%
	}
	.col-lg-noPad {
		padding: 0
	}
	.col-lg-noPadLeft {
		padding-left: 0
	}
	.col-lg-noPadRight {
		padding-right: 0
	}
	.col-lg-pad2x {
		padding-left: 30px;
		padding-right: 30px
	}
	.col-lg-pad2xLeft {
		padding-left: 30px
	}
	.col-lg-pad2xRight {
		padding-right: 30px
	}
	.show-lg {
		display: block
	}
	.hide-lg {
		display: none
	}
}

.colwidth--1 {
	width: 8.33333333%
}

.colwidth--2 {
	width: 16.66666667%
}

.colwidth--3 {
	width: 25%
}

.colwidth--4 {
	width: 33.33333333%
}

.colwidth--5 {
	width: 41.66666667%
}

.colwidth--6 {
	width: 50%
}

.colwidth--7 {
	width: 58.33333333%
}

.colwidth--8 {
	width: 66.66666667%
}

.colwidth--9 {
	width: 75%
}

.colwidth--10 {
	width: 83.33333333%
}

.colwidth--11 {
	width: 91.66666667%
}

.colwidth--12 {
	width: 100%
}

.grid {
	display: block;
	margin: 0;
	padding: 0 15px
}

.grid.no-pad {
	padding: 0
}

.row {
	clear: both;
	margin: 0 -15px
}

.row-padded {
	margin: 0
}

.gridrow {
	display: block;
	margin: 0
}

.row-nested [class*=col-] {
	padding: 0 5px
}

.row-tight {
	margin: 0 -7.5px
}

.row-tight [class*=col-] {
	padding: 0 7.5px
}

.gutter {
	padding-left: 15px;
	padding-right: 15px
}

.col-noPad, .no-pad {
	padding: 0
}

.col-noPadLeft {
	padding-left: 0
}

.col-noPadRight {
	padding-right: 0
}

.clearfix, .row, .gridrow {
	clear: both
}

.u-floatLeft {
	float: left
}

.u-floatRight {
	float: right
}

.u-txtCenter {
	text-align: center
}

.u-txtLeft {
	text-align: left
}

.u-txtRight {
	text-align: right
}

.u-txtBold {
	font-weight: bold
}

.u-txtNormal {
	font-weight: normal
}

.u-hiddenVisually {
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	position: absolute !important;
	overflow: hidden !important
}

html {
	min-height: 100vh
}

body {
	font-family: 'minion-pro', Georgia, serif;
	margin-top: 66px;
	font-size: 14px;
	color: #444;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum", "lnum";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #105fa8
}

p {
	margin: 0 0 1.5em;
	line-height: 30px
}

h1, .h1 {
	font-family: 'ff-meta-web-pro', Arial, sans-serif;
	font-weight: normal;
	color: #105fa8;
	font-size: 24px;
	margin: 0 0 1em;
	line-height: 1.2
}

h2, .h2 {
	font-family: 'minion-pro', Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	margin: 1.5em 0 .5em;
	line-height: 1.2
}

.pageWrap {
	position: relative;
	max-width: 1170px;
	margin: 0 auto
}

.row-relative {
	position: relative
}

.col-vBottomRight {
	position: absolute;
	bottom: 0;
	right: 0
}

#PageHead {
	font-family: 'ff-meta-web-pro', Arial, sans-serif;
	background: #105fa8;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 66px;
	color: #fff
}

.pagehead-logo {
	position: absolute;
	top: 13px;
	left: 15px;
	z-index: 1;
	text-decoration: none
}

.pagehead-logoSubtext {
	display: block;
	color: #fff;
	font-size: 12px;
	margin: -10px 0 0 44px
}

.pagehead-logo .icon-logo {
	color: #fff;
	font-size: 40px;
	line-height: 40px
}

.pagehead-cta {
	position: absolute;
	top: 0;
	right: 15px;
	line-height: 66px
}

.pagehead-tfn {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 20px;
	color: #fff;
	background-color: #fc7e22;
	border-radius: 3px;
	line-height: 36px;
	padding: 0 20px
}

@media only screen and (max-width:768px) {
	.pagehead-cta {
		top: 26px;
		right: 0;
		left: 15px;
		line-height: normal
	}
	.pagehead-cta.hasNav+.pageLogoWrap .pagehead-logo {
		margin-left: 42px
	}
	.pagehead-logoSubtext {
		margin: -10px 0 0 44px
	}
	.pagehead-tfn {
		position: absolute;
		top: -9px;
		right: 15px
	}
}

@media only screen and (max-width:550px) {
	.pagehead-logo .icon-logo {
		font-size: 32px
	}
	.pagehead-logoSubtext {
		font-size: 11px;
		line-height: 1.2em;
		margin: -10px 0 0 36px;
		display: none
	}
	.pagehead-logoSubtext strong {
		display: block
	}
	.pagehead-tfn {
		font-family: 'ff-meta-web-pro', Arial, sans-serif;
		display: inline-block;
		padding: 0 40px;
		line-height: 54px;
		height: 54px;
		border-radius: 3px;
		text-decoration: none;
		text-transform: uppercase;
		border: none;
		font-size: 15px;
		margin-bottom: 8px;
		background: url(/Content/Images/iconPhoneCall.png) no-repeat 50% 50%
			#fc7e22;
		width: 44px;
		height: 44px;
		padding: 0;
		overflow: hidden;
		white-space: nowrap;
		text-indent: 100%;
		top: -14px
	}
}

.nav-site {
	display: inline-block;
	font-size: 12px;
	color: #fff
}

.nav-site-list {
	list-style: none;
	margin: 0;
	padding: 0
}

.nav-site-list>li {
	display: inline-block
}

.nav-site-list>li:first-child {
	padding-left: 0
}

.nav-site-list>li>a {
	color: inherit
}

.nav-site-list>li {
	padding-left: 20px
}

.nav-site a {
	color: #fff
}

.nav-site-hitbox {
	display: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	height: 17px;
	width: 22px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer
}

.nav-site-hitbox:before {
	content: '';
	border-top: 1px solid #fff;
	position: absolute;
	top: 7px;
	left: 0;
	width: 22px
}

@media only screen and (max-width:768px) {
	.nav-site .nav-site-list>li {
		display: block
	}
	.nav-site-list {
		display: none;
		position: fixed;
		top: 66px;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .8);
		border-top: 1px solid #fff
	}
	.nav-site-list>li {
		display: block;
		background: #105fa8;
		font-size: 16px;
		position: relative;
		border-bottom: 1px solid #fff;
		padding: 0
	}
	.nav-site-list a {
		display: block;
		text-decoration: none;
		padding: 20px 40px 20px 15px
	}
	.nav-site-list a:after {
		content: 'î¤…';
		font-family: 'moo-mp';
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -.5em
	}
	.nav-site.active .nav-site-list {
		display: block
	}
	.nav-site.active .nav-site-hitbox {
		border: none
	}
	.nav-site.active .nav-site-hitbox:before {
		content: 'Ã—';
		font-family: Arial, Helvetica, sans-serif;
		border: none;
		position: absolute;
		top: -10px;
		left: -10px;
		text-align: center;
		width: 40px;
		height: 35px;
		color: #fff;
		font-size: 38px;
		line-height: 1
	}
	.nav-site-hitbox {
		display: initial
	}
}

#PageFoot {
	font-family: 'ff-meta-web-pro', Arial, sans-serif;
	position: relative;
	font-size: 14px;
	background: #105fa8;
	color: #fff;
	padding: 52px 15px 37px
}

@media only screen and (max-width:768px) {
	#PageFoot {
		padding: 0 15px 30px
	}
}

.nav-footer {
	margin-bottom: 45px
}

.nav-footer-list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 1px;
	right: 15px;
	font-size: 16px
}

.nav-footer-list>li {
	display: inline-block
}

.nav-footer-list>li:first-child {
	padding-left: 0
}

.nav-footer-list>li>a {
	color: inherit
}

.nav-footer-list>li {
	padding: 0 15px;
	border-left: 1px solid #fff
}

.nav-footer-list>li:first-child {
	border-left: none
}

.nav-footer-list>li:last-child {
	padding-right: 0
}

.nav-footer-list>li>a {
	text-decoration: none
}

@media only screen and (max-width:768px) {
	.nav-footer-list {
		position: static;
		margin: 0 -15px
	}
	.nav-footer-list>li {
		display: block;
		text-align: center;
		padding: 15px 0;
		border: none;
		border-bottom: 1px solid #fff
	}
	.nav-footer-list>li:first-child {
		border-top: 1px solid #fff
	}
}

.pagefooter-text {
	line-height: 16px
}

.pagefooter-text p {
	line-height: inherit
}

@media only screen and (max-width:768px) {
	.pagefooter-phone {
		text-align: center;
		padding: 30px 0
	}
}

.pagefooter-phoneLink {
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-decoration: none
}

@media only screen and (max-width:768px) {
	.pagefooter-phoneLink {
		text-align: center
	}
}

@media only screen and (max-width:550px) {
	.pagefooter-phoneLink {
		font-family: 'ff-meta-web-pro', Arial, sans-serif;
		display: inline-block;
		padding: 0 40px;
		line-height: 54px;
		height: 54px;
		border-radius: 3px;
		text-decoration: none;
		text-transform: uppercase;
		border: none;
		font-size: 15px;
		margin-bottom: 8px;
		background: #fc7e22;
		text-align: center
	}
}

#PageMain {
	background: #fff
}

.flow-error #PageMain {
	padding: 15px;
	min-height: 40vh
}

.content-wrap {
	padding: 60px 0 90px;
	background: #fff
}

.content-wrap.short {
	padding: 30px 0
}

.content-inner {
	font-family: 'minion-pro', Georgia, serif;
	line-height: 30px
}

.btnTel {
	color: inherit;
	text-decoration: none
}

.box-ty {
	font-size: 18px
}

.box-ty h1 {
	font-size: 30px
}

.box-ty p {
	padding: 0 20px
}

section h1 {
	font-size: 30px;
	color: #105fa8
}

@media only screen and (max-width:550px) {
	.content-wrap {
		padding: 40px 0 60px
	}
	.content-inner-right {
		margin-top: 20px
	}
	section h1 {
		font-size: 24px
	}
	.btnTel {
		font-family: 'ff-meta-web-pro', Arial, sans-serif;
		display: inline-block;
		font-size: 15px;
		font-weight: normal;
		line-height: 54px;
		background: #fc7e22;
		border-radius: 3px;
		padding: 0 40px;
		color: #fff;
		margin-top: 15px
	}
}

#MGetStarted {
	text-align: center
}

#MGetStarted .ffselect {
	display: block;
	margin: 12px auto 16px
}

#MGetStarted .ffselect, #MGetStarted .btn-primary {
	width: 66.66%
}

#MGetStarted .field-validation-error {
	top: 9px
}

.qaBox dt {
	font-weight: bold;
	margin: 20px 0 0;
	padding: 0
}

.qaBox dt:before {
	content: 'Q: '
}

.qaBox dd {
	margin: 0;
	padding: 0
}

.qaBox dd:before {
	content: 'A: '
}

#PageCurtain {
	display: none;
	background: rgba(131, 131, 131, .75);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100
}

#PageCurtain.active {
	display: block
}

.modalWrap {
	display: none;
	z-index: 101;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%
}

.modalWrap.active {
	display: table
}

.modalWrap.active .modal {
	display: block
}

.modal {
	display: none;
	overflow: auto
}

.baseWrap {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center
}

.modalBox {
	display: inline-block;
	border-radius: 3px;
	background: #fff;
	padding: 35px 20px;
	position: relative;
	width: 44vw;
	margin: 40px auto;
	text-align: left
}

.btnModalClose {
	font-family: 'ff-meta-web-pro', Arial, sans-serif;
	font-size: 14px;
	line-height: 1;
	position: absolute;
	top: 3px;
	right: 2px;
	cursor: pointer
}

.btnModalClose:before {
	content: 'x';
	display: block;
	color: #4e575e;
	padding: 6px
}

.modal-h1 {
	font-family: 'ff-meta-web-pro', Arial, sans-serif;
	color: #444;
	font-size: 18px
}

@media only screen and (min-width:551px) and (max-width:768px) {
	.modalBox {
		width: 60vw
	}
}

@media only screen and (max-width:550px) {
	.modalBox {
		width: 90vw
	}
}

[class*="icon-"] {
	font-family: 'moo-mp' !important;
	line-height: 1;
	font-weight: normal
}

.icon-logo:before {
	content: '\eea480'
}

.icon-logoU:before {
	content: '\eea484'
}

.icon-chevronRight:before {
	content: '\eea485'
}

.icon-financeDollar:before {
	font-family: moo-mp;
	font-weight: normal;
	font-style: normal;
	content: '\eea485'
}

.icon-stethoscope:before {
	content: '\eea482'
}

.icon-handshake:before {
	content: '\eea483'
}

.gsbox {
	font-family: 'ff-meta-web-pro', Arial, sans-serif;
	box-shadow: rgba(30, 30, 30, .1) 0 7px 5px 2px;
	border-top: 10px solid #105fa8;
	border-radius: 3px
}

.gsbox-title {
	color: #105fa8;
	font-size: 20px;
	font-weight: bold;
	background: #e7f5fd;
	padding: 11px 15px 26px
}

.gsbox-body {
	font-size: 20px;
	text-align: center;
	padding: 12px 15px 27px
}

.gsbox-tfn {
	display: block;
	color: #fc7e22;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none
}

.gsbox-dot {
	font-size: 14px;
	background: #105fa8;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	color: #fff;
	text-align: center;
	line-height: 29px;
	margin: 12px auto 16px;
	cursor: default
}

.gsbox select, .gsbox input, .gsbox .btn-primary {
	width: 100%
}

.gsbox .btn-primary {
	padding: 0
}

@media only screen and (max-width:550px) {
	.gsbox-tfn {
		display: inline-block;
		font-size: 15px;
		font-weight: bold;
		line-height: 54px;
		background: #fc7e22;
		border-radius: 3px;
		padding: 0 40px;
		color: #fff;
		margin: 10px auto 15px
	}
}

.btn, .btn-primary, .btn-secondary {
	font-family: 'ff-meta-web-pro', Arial, sans-serif;
	display: inline-block;
	padding: 0 40px;
	line-height: 54px;
	height: 54px;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	font-size: 15px;
	margin-bottom: 8px
}

.btn-primary {
	background: #fc7e22;
	color: #fff
}

.btn-primary:hover {
	background: #dc6700
}

.btn-primary:after {
	font-family: 'moo-mp' !important;
	content: 'î¤…';
	position: relative;
	top: 1px;
	left: 1px
}

.btn-secondary {
	background: transparent;
	border: 1px solid #105fa8;
	color: #444
}

.btn-secondary:hover {
	background: #105fa8;
	color: #fff
}

.btn-secondary:after {
	font-family: 'moo-mp' !important;
	content: 'î¤…';
	position: relative;
	top: 1px;
	left: 1px
}

select, input {
	width: 100%;
	display: inline-block;
	margin-bottom: 8px;
	border: 1px solid #d5d5d5;
	transition: border-color .25s, background-color .25s, color .25s;
	border-radius: 3px;
	padding: 0 8px;
	font-size: 14px
}

select:focus, input:focus {
	border-color: #218cef
}

.selectSlim, .ffselect {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.selectSlim:-moz-focusring, .ffselect:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000
}

.selectSlim::-ms-expand, .ffselect::-ms-expand {
	display: none
}

.ffselect {
	background: url('../../images/mutualofomaha/iconChevronDown1.png') no-repeat 100% 50%
		#fff;
	padding-right: 30px;
	height: 54px;
	line-height: 52px;
	color: #444;
	border: 1px solid #d5d5d5
}

.ffselect:hover {
	border-color: #218cef;
	color: #222
}

.form-wrap {
	font-family: 'ff-meta-web-pro', Arial, sans-serif;
	background: #fff;
	padding: 20px 0 40px
}

.form-wrap .ffselect, .form-wrap input {
	height: 44px;
	line-height: 42px
}

.form-wrap button {
	width: 100%
}

.form-wrap .txt-disclaim {
	margin-top: 30px;
	text-align: center;
	line-height: 1.3em
}

.form-wrap h1 {
	margin: 0 0 8px
}

.form-wrap .h1-sub {
	color: #105fa8;
	margin: 0 0 20px;
	font-size: 16px
}

@media only screen and (min-width:551px) and (max-width:768px) {
	.form-wrap {
		padding: 30px 0 60px
	}
}

@media only screen and (max-width:550px) {
	.form-wrap {
		padding: 20px 0 50px
	}
	.form-wrap .col-vBottomRight {
		position: static;
		padding: 25px 7.5% 7px
	}
}

.formType1 .labelWrap {
	line-height: 1
}

.formType1 .frm-imp {
	color: #fc7e22
}

.formType1 label {
	display: inline-block;
	margin: 10px 0 3px
}

.formType1 .form-explain {
	color: #d5d5d5;
	margin-bottom: 3px;
	padding-right: 10px
}

.formType1 .lowItem {
	position: relative;
	top: -23px
}

.formType1 select, .formType1 input {
	margin-bottom: 25px
}

@media only screen and (min-width:769px) {
	.formType1 .labelWrap {
		text-align: right
	}
}

@media only screen and (max-width:768px) {
	.formType1 .btn-primary {
		display: block;
		margin: 0 auto;
		width: 242px
	}
}

.formType1 .field-validation-error {
	display: block;
	clear: both;
	margin: -16px 0 15px
}

.masked {
	letter-spacing: 1px
}

.field-validation-error {
	color: red;
	font-size: smaller;
	position: relative;
	top: -7px;
	left: 1px;
	vertical-align: top;
	line-height: 1.2em
}