@()(implicit request: play.api.mvc.Request[AnyContent])
@import org.uaparser.scala.Parser
@import play.api.libs.json._

<script type="text/javascript">
    var indexLandingPixelId = 79077;
    var getQuotesLandingPixelId = 87133;
    var landingPixelId_160801 = 87133;
    var landingPagePixelId_160802 = 87134;
    var editorialLandingPixelId = 87135;
    var extraPixelId = 87136;
    var step1PixelId = 79078;
    var step2PixelId = 79079;
    var step2BPixelId = 86719;
    var callNowPixelId = 79196;
    var educationalPixelId = 87136;
    var data = {};
</script>
