@(siteSettings: utils.templates.SiteSettings)(implicit configuration: play.api.Configuration, environment: play.api.Environment)
@if(utils.templates.TemplateSettings.show_solar_cal(siteSettings)){
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 y-scroll">
}else{
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 y-scroll">
}
<div name="form-8" ng-init="ctrl.formPageLoaded('Email and Phone')">
    <div class="form-right-col">
        <div class="inner address-block" ng-style="{
        '-webkit-transition-duration': ctrl.speed + 'ms',
        '-moz-transition-duration': ctrl.speed + 'ms',
        '-ms-transition-duration': ctrl.speed + 'ms',
        '-o-transition-duration': ctrl.speed + 'ms',
        'transition-duration': ctrl.speed + 'ms'
    }">
    <h1 class="text-center">Last Step: Where Can We Send Your Solar Savings Report</h1>

    <form class="row get-quotes" name="emailPhoneFrm">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-8 col-md-offset-2">
            <input type="text" class="form-control input-type-2" name="email" placeholder="Email" id="email" ng-model="ctrl.form.email" autocomplete="off" ng-class="{'error-border': emailPhoneFrm.email.$invalid && ctrl.form.email}" ng-pattern='/^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' onkeydown="if(event.keyCode == 13) document.getElementById('continueBtn').click()">
            <label class="error" ng-show="emailPhoneFrm.email.$invalid && emailPhoneFrm.email.$touched">Please enter valid email</label>
        </div>
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-8 col-md-offset-2">
            <input type="text" class="form-control input-type-2" name="phone" placeholder="Phone number" id="phone" ng-model="ctrl.form.phone_home" ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" ng-keyup="ctrl.checkValidPhone(ctrl.form.phone_home);" ng-class="{'error-border': emailPhoneFrm.phone.$invalid && ctrl.form.phone_home}" autocomplete="off" onkeydown="if(event.keyCode == 13) document.getElementById('continueBtn').click()" />
            <label class="error" ng-show="emailPhoneFrm.phone.$invalid && emailPhoneFrm.phone.$touched && ctrl.form.phone_home">Please enter valid phone number</label>
            <label class="error" ng-show="ctrl.form.phone_home && !ctrl.phoneVerify">Please enter valid phone number</label>
        </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button id="continueBtn" class="continue-button" data-ng-click="ctrl.submitInfoForm([ctrl.BASE_CONSTS.EMAIL_COMPLETED, ctrl.BASE_CONSTS.PHONE_COMPLETED]);" ng-class="{'continue-button-active':ctrl.form.email && ctrl.form.phone_home && emailPhoneFrm.$valid && ctrl.phoneVerify}" ng-disabled="!ctrl.form.email || !ctrl.form.phone_home || !emailPhoneFrm.$valid || !ctrl.phoneVerify">
            <div class="loader" ng-show="ctrl.$rootScope.loading" >Loading...</div>Get Quotes
        </button>        
    </div>
    <input type="hidden" id="leadid_token" name="form.leadid_token" data-ng-model="ctrl.form.leadid_token" />
    </form>
</div><!-- 7 form end-->


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="quotes-text">
            <label><input type="hidden" id="leadid_tcpa_disclosure"/>By clicking the submit button, you agree to our <a
                    target="_blank" href="/privacy-policy">privacy policy</a> and authorize Easier Solar and its network
                of <a target="_blank" href="/installers">service providers</a> to contact you at the phone number you
                entered using automated technology including auto-dialers, pre-recorded messages, and text messages,
                even if your phone is a mobile number or is currently listed on any state, federal, or corporate "Do Not
                Call" lists, and you are not required to give your consent as a condition of service.</label>
        </p>
    </div>
</div>
</div>
@views.html.angular.forms.back_reset()
</div>
</div>