@(title: String, description: String, img_path: String)

<title>@title</title>
<meta itemprop="alternativeHeadline" name="hdl_p" content="@title">
<meta itemprop="description" name="description" content="@description">
<meta itemprop="thumbnailUrl" name="thumbnail" content="@img_path">

<meta name="hdl" content="@title">
<meta name="lp" content="@description">

<meta property="og:title" content="@title">
<meta property="og:description" content="@description">
<meta property="og:image" content="@img_path">

<meta property="twitter:title" content="@title">
<meta property="twitter:description" content="@description">
<meta property="twitter:image" content="@img_path">

<meta name="thumbnail_150" content="@img_path">
<meta name="thumbnail_150_height" content="150">
<meta name="thumbnail_150_width" content="150">