@(title: String, nb_settings: Option[utils.templates.NavBarSettings] = None)(content: Html)(implicit configuration: play.api.Configuration)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en" lang="en">
    <head>
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Get Easier Solar Quotes</title>
        <link rel="shortcut icon" href="@(configuration.getString("cloudfront.cdn.url"))images/favicon.png" type="image/png"/>
        <link type="image/ico" rel="icon" href="@(configuration.getString("cloudfront.cdn.url"))images/favicon.png"/>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <link href="@(configuration.getString("cloudfront.cdn.url"))stylesheets/get_quotes_style.css" rel="stylesheet" type="text/css"/>
        <link href="@(configuration.getString("cloudfront.cdn.url"))stylesheets/get_quotes_style.css" rel="stylesheet" type="text/css"/>
        <link href="@(configuration.getString("cloudfront.cdn.url"))stylesheets/navbar_header.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script src="//js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript"></script>
        @{views.html.metadata.social_links("Compare solar quotes from top local and national installers | EasierSolar","Get competitive quotes in minutes. Installers compete for your business, you get the best deal & save fast. Talk to an advisor or shop online today.", configuration.getString("cloudfront.cdn.url") + "educational/easiersolar_test_template1/images/Share_Image_Solar.png")}
    </head>
    <body>
        <script type="text/javascript" src="/browser_id.js"></script>
        @content
        @views.html.snippets._navbar_js(nb_settings)
    </body>
</html>
