@(login_form: play.api.data.Form[Option[security.models.UserAccount]])(implicit request: Request[Any], messages: Messages)
    @import helper._
    @args(args: (Symbol, Any)*) = @{
        args
    }

<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/html" lang="en">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="Steve Lin">

            <title>Lynx Config - Login</title>

                <!-- Bootstrap Core CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

                <!-- MetisMenu CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

                <!-- Custom CSS -->
            <link href="/assets/stylesheets/sb-admin-2.css" rel="stylesheet">

                <!-- Custom Fonts -->
            <link href="/assets/stylesheets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        </head>
        <body>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default" style="margin-top: 10%;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Please Sign In</h3>
                            </div>
                            <div class="panel-body">
                             @form(controllers.config_ui.routes.ConfigurationUIController.authenticate) {
                             	<fieldset>
                                	<div class="form-group">
                                    @inputText(login_form("username"), '_label -> "Username", 'class -> "form-control", '_showConstraints -> false)
                                    </div>
                                    <div class="form-group">
                                    @inputPassword(login_form("password"), '_label -> "Password", 'class -> "form-control", '_showConstraints -> false)
                                    </div>
                                        <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                                    @for(error <- login_form.errors) {
                                        <br /><span style="color: red;">@error.message</span>
                                    }
                                 </fieldset>
                             }
 							</div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>