{
  "inputs": {
    "address": "02115",
    "power-bill": "255.5",
    "kwh-usage": "1593.75",
    "usage-offset": "80.0",
    "array-type": "1",
    "module-type": "1",
    "loan-period": "10",
    "loan-interest": "2.99"
  },
  "version": "1.0.0",
  "location-info": {
    "lat": "42.36666488647461",
    "lon": "-71.03333282470703",
    "elev": "5.0",
    "tz": "-5.0",
    "location": "14739",
    "city": "BOSTON",
    "state": "MA"
  },
  "outputs": {
    "cash": {
      "savings": [
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00",
        "400.00"
      ],
      "cost": [
        "20000.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00"
      ]
    },
    "ppa": {
      "savings": [
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00",
        "300.00"
      ],
      "cost": [
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "1500.00",
        "2000.00",
        "2000.00",
        "2000.00",
        "2000.00",
        "2000.00"
      ]
    },
    "loan": {
      "savings": [
        "100.00",
        "100.00",
        "100.00",
        "100.00",
        "100.00",
        "100.00",
        "100.00",
        "100.00",
        "100.00",
        "100.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00",
        "1400.00"
      ],
      "cost": [
        "20000.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00",
        "0.00"
      ]
    },
    "grid": {
      "cost": [
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00",
        "1800.00"
      ]
    }
  }
}