@()(implicit request: play.api.mvc.Request[AnyContent], configuration: play.api.Configuration)

@views.html.headers.installers() {
    <div id="header">
        <div class="container">
            <div class='row'>
                <div>
                    <div id="logo" style="display: inline-block;">
                        <a class="navbar-brand" href="/" title="Easier Solar" rel="home">
                            <img src="@(configuration.getString("cloudfront.cdn.url"))images/EasierSolar-Logo-recolor.png" alt="Easier Solar" />
                        </a>
                    </div><!-- end of #logo -->
                    <a class="save-button">
                        <h1>Start Saving Now</h1>
                    </a>
                    <div class="renters-nav">
                        <h1>Renters</h1>
                        <div class="renters-nav-modal">
                            <div class="nav-modal-content">
                                <span></span>
                                <h2>Renters</h2>
                                <p>
                                    As a general rule, you need to own your home in
                                    order to qualify for rooftop solar deals. You could
                                    buy the panels outright, but that isn’t something
                                    we recommend without a particularly long
                                    lease. If you have questions, <a href="mailto:ask@@easier-solar.com">email us</a>.
                                    <br />
                                    <br />
                                    We have brand new tools and content designed to better serve renters in the lab. In the next few weeks, we'd be delighted to share them with you. Sign up below and you're in.
                                </p>
                                <div class="modal-cta"><h4>Keep in Touch</h4></div>
                            </div>
                        </div>
                    </div>
                    <div class="business-nav">
                        <h1>Business & Government</h1>
                        <div class="business-nav-modal">
                            <div class="nav-modal-content">
                                <span></span>
                                <h2>Business & Government</h2>
                                <p>
                                    We do not currently offer an online marketplace
                                    for largescale projects. If you’d like help selecting
                                    a partner for a commercial or government
                                    projects, simply email us and we will provide as
                                    much help as we can. We focus mostly on homes,
                                    but we’re committed to advancing solar energy
                                    for every rooftop.
                                </p>
                                <div class="modal-cta"><h4>Power Your Home</h4></div>
                            </div>
                        </div>
                    </div>
                    <div class="incentives-nav">
                        <h1>Federal Incentives</h1>
                        <div class="incentives-nav-modal">
                            <div class="nav-modal-content">
                                <span></span>
                                <h2>Federal Incentives</h2>
                                <p>
                                    Because there is such a large social benefit to installing solar, the federal government currently pays 30% of every system sold through the <b>
                                    Solar Investment Tax Credit</b> (ITC)
                                </p>
                                <p>
                                    Quick Facts <br />
                                    - The ITC currently deducts a 30 percent tax credit for solar systems on residential and commercial properties (Sec 48) <br />
                                    - A tax credit is a dollar-for-dollar reduction in income taxes that a person would otherwise pay.
                                </p>
                                <div class="modal-cta"><h4>Talk to an Advisor</h4></div>
                            </div>
                        </div>
                    </div>
                        <!--  <div class="phone-container">
                        <a href="tel:1-888-654-5110" id="callNow">
                            <span id="phone_right"><br> <span class="phone_number" id="phone_number">888-654-5110</span>
                            </span>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal-bg">
    </div>

        <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MPNBKF"
    height="0" width="0" style="display: none;
        visibility: hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MPNBKF');</script>
        <!-- End Google Tag Manager -->
    <div class="wrapper">

        <div class="wrap cf">
            <header class="entry-header page-header">
                <h1 class="entry-title">Energy Industry Companies</h1>
            </header>
            <p>By submitting your information at EasierSolar.com, you understand that you may be matched with one or more of the companies providing energy-related products or services listed below, or with companies serving as their agents, and you agree to receive calls about these products and services (which may be auto-dialed, use artificial or pre-recorded voices, and/or be text messages) from these companies and their agents to the number you've provided.  You also understand that your consent to receive these calls is not required in order to purchase any property, goods or services.</p>
            <p>The company names listed below are trademarks of their respective companies, and do not imply any sponsorship or endorsement of EasierSolar.com.</p>
            <img id="installer_img" src="http://www.solar-partners.info/" alt="" style="max-width: 100%;
                max-height: 100%;" />
        </div>

    </div>
    <footer>
        <div class="footer-container">
            <h1>If you prefer to speak with a sales representative, call (844) 204-3556</h1>
            <img src="@(configuration.getString("cloudfront.cdn.url"))images/easier-solar-logo-bw.png" height="60" width="200" alt="Easier Solar BW" />
        </div>
    </footer>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @views.html.snippets._application_js()
    <script src="@(configuration.getString("cloudfront.cdn.url"))javascripts/zoom.js" type="text/javascript"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#installer_img').click(function () {
                    if ($(this).hasClass('zoomed')) {
                        $('.zoomContainer').remove();
                        $(this).removeClass('zoomed');
                    } else {
                        $(this).elevateZoom({
                            zoomType: "lens",
                            lensShape: "round",
                            lensSize: 300
                        });
                        $(this).addClass('zoomed');
                    }
                });
            });
    </script>
}
